* {
    text-align: center;
    
}

body{
    background-image:url(background.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 100%;
    height: 950px;
    
    
}
#rock-el{
    width: 110px;
    height: 110px;
    color: aliceblue;
    background-color: black;
    font-size: 20px;
    border-radius: 50%;
    padding: 2px;
    margin-left: 6%;
    margin-right: 6%;
    border-width: 5px;
    border-color: rgb(67, 49, 49);
    cursor: pointer;
    background-image: url(rock.jpg);
    background-position: center center;
    background-repeat: no-repeat;   
                
}
#paper-el{
    width: 110px;
    height: 110px;
    color: aliceblue;
    background-color: black;
    font-size: 20px;
    border-radius: 50%;
    padding: 2px;
    margin-left: 6%;
    margin-right: 6%;
    border-width: 5px;
    border-color: rgb(67, 49, 49);
    cursor: pointer;
    background-image: url(paperV2.jpg); 
    background-position: center center;
    background-repeat: no-repeat; 
} 
#scissors-el{
    max-width: 110px;
    max-height: 110px;
    width: 100%;
    height: 150px;
    color: aliceblue;
    background-color: black;
    font-size: 20px;
    border-radius: 50%;
    margin-left: 6%;
    margin-right: 6%;
    margin-bottom: 20%;
    border-width: 5px;
    border-color: rgb(67, 49, 49);
    cursor: pointer; 
    background-image: url(scissorsV2.jpg); 
    background-position: center center;
    background-repeat: no-repeat;

   
    
}
#result-el{
    color: rgb(255, 255, 255);
    font-size: 96px;

}
#chooseAButton-el{
    color: rgb(0, 0, 0);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 36px;
    font-weight: bold;
}
#computerChoice-el{
    font-size: 45px;
    padding: 2px;
    margin: 5px;
    padding-top: 20%;
}
#playerChoice-el{
    font-size: 45px;
    padding: 2px;
    margin: 5px;
    
}
#result-el{
    font-size: 55px;
    padding: 0;
    margin: 0;
    height: 40px;
 
}
#playerScoreBoard-el{
    font-size: 45px;
    padding: 2px;
    margin: 5px;
    color: rgb(255, 255, 255);
}

#computerScoreBoard-el{
    font-size: 45px;
    padding: 2px;
    margin: 5px;
    color: rgb(255, 255, 255);
}
